# Go test binaries / profiles produced by `go test -c` / -memprofile / -cpuprofile
/go-cdc-chunkers.test
*.test
*.prof

# Local copies of reference papers (not redistributed)
/papers/

# Jetbrains
/.idea
